<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/covid_style.css') }}">

   <title>COVID-19 | WebApp</title>
   <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

</head>


   <!--
      <body style = "background-color: #333636 ; color: #fafafa">
      -->

   {% block content %}
   {% endblock %}

</body>

</html>